-if comments.size > 0
  -comments.each do |comment|
    .comment
      .avatar
        = image_tag "#{comment.user.avatar.url}", :size => "64x64"
      .main
        .headline
          .name #{comment.user.name}
          .reply
            =image_tag("/assets/reply_button.png", :class => "mention_button", data: { mention: "@#{ comment.user.name }" }) 
        -if comment.user.is_admin?
          .comment_content.content-role(style="background: #fffce9;") #{markdown(comment.content)}
        -else
          .comment_content.content-role #{markdown(comment.content)}
        .clear
-else
  .no-comment
    %h1 快来抢沙发呀~
