<head>
	<title>PureWeber </title>
	<meta http-equiv="content-type" content="text/html;charset=gb2312">
	<%=csrf_meta_tag%>
	<%= javascript_include_tag "application"%>
	<%= stylesheet_link_tag "back"%>

</head>
<div class="global-nav">
	<div class="mark">
		<h3>PureWeber</h3>
	</div>
	<ul>
		<li><%= link_to "退出", logout_path%></li>
		<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">robot</a><b class="caret"></b>
			<ul class="dropdown-menu">
				<li>
					<a href="#"><span class="glyphicon glyphicon-star"></span>个人资料</a>
				</li>
			
			</ul>
		</li>
		<li><a href="#about"><span class="message 4"></a></li>
	</ul>
</div>
<body>
<legend>
<strong>
	编辑个人资料
</strong>
</legend>
<%= form_tag("#") do %>
	<%=label_tag(:name, "姓名")%>
	<%=text_field_tag(:name)%>
	<%= label_tag(:email, "邮箱")%>
	<%= email_field_tag(:email)%><br />
	<%=submit_tag("确认")%>
<% end %>
<p>
<h4>
特别提醒：请确认以上内容填写无误后再点击“确认”按钮
</h4>
</p>
</body>
