%h1 Listing users

%table
  %tr
    %th Id
    %th Email
    %th Password digest
    %th Token
    %th Admin
    %th Name
    %th Password reset token
    %th Password reset sent at
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.id
      %td= user.email
      %td= user.password_digest
      %td= user.token
      %td= user.admin
      %td= user.name
      %td= user.password_reset_token
      %td= user.password_reset_sent_at
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_path
