= form_for @course do |f|
  - if @course.errors.any?
    #error_explanation
      %h2= "#{pluralize(@course.errors.count, "error")} prohibited this course from being saved:"
      %ul
        - @course.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :tittle
    = f.text_field :tittle
  .field
    = f.label :intro
    = f.text_field :intro
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :public
    = f.text_field :public
  .field
    = f.label :comments_count
    = f.number_field :comments_count
  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :assignment_id
    = f.number_field :assignment_id
  .actions
    = f.submit 'Save'
