-content_for :body do
  %section#about.wrap.about.role.clearfix
    .content
      .courses.courses-role
        .create_course
          = link_to "创建新课程", new_admin_course_path, :class => "btn btn-success"
        .clearfix1
        .full
          .course
            .screenshot1#role-screenshot1
              .eidt-course-poster(style="margin-bottom:5px;")
                %p 课程封面(最佳宽高比为16：9)
                .poster-preview
                  =image_tag("#{@course.poster}", :id => "poster")
                .edit-course-poster.btn.btn-info
                  %span#poster-upload-tip 更新课程封面
                  <input id="poster-fileupload" name="course[poster]" type="file">
            .course-main
              .form-info
                =form_for([:admin, @course], :action => :update, :method => :put, :class => "form-horizontal form-ad", :role =>"form") do
                  .form-group
                    %label(for="inputTitle" class="col-sm-2 control-label") 课程名
                    .col-sm-10
                      %input(type="text" class="form-control" id="inputTitle" name="course[title]" value="#{@course.title}")
                  .form-group
                    %label(for="inputIntro" class="col-sm-2 control-label") 课程简介
                    .col-sm-10
                      %textarea(class="form-control textareaIntro" id="textareaIntro" name="course[intro]" rows="5") #{@course.intro}
                  .form-group
                    %label(for="textareaDescription" class="col-sm-2 control-label the-third") 课程信息
                    .col-sm-10
                      %textarea(class="form-control" id="textareaDescription" name="course[description]" rows="15") #{@course.description}
                  .form-group
                    %label(for="textareaAssignment" class="col-sm-2 control-label the-third") 作业信息
                    .col-sm-10
                      -if @course.assignment.blank?
                        %textarea(class="form-control" id="textareaAssignment" name="assignment[content]" rows="15" placeholder="作业信息")
                      -else
                        %textarea(class="form-control" id="textareaAssignment" name="assignment[content]" rows="15") #{@course.assignment.content}
                    
                  = render 'add_courseware' 
                  .form-group
                    %label(for="inputSubmit" class="col-sm-2 control-label")
                    .col-sm-10
                      = submit_tag( "完成编辑", class: "btn btn-success")
            

-content_for :bootstrap do
  = stylesheet_link_tag 'bootstrap_and_overrides'
-content_for :template_js do
  :javascript
    $(document).ready(function() {
       jQuery(function($) {
           var _tip = $("#poster-upload-tip");
          $('#poster-fileupload').fileupload({
              dataType: 'script',
              url: 'update_poster',
              add: function(e, data){
                types = /(\.|\/)(gif|jpe?g|png)$/i;
                file = data.files[0];
                console.log(file.type);
                console.log(types);
                if (types.test(file.type) || types.test(file.name))
                {
                  data.submit();
                }
                else
                {
                  alert(file.name + " 不是图片，请重新选择！");
                }
              },
              start: function(e) {
                _tip.html('上传中&nbsp;&middot;&middot;&middot;');
              },
              done: function (e, data) {
                _tip.html("课程封面修改成功!");
              },
          });
        });
  
       //上传课件 
       jQuery(function($) {
         var _tip = $("#courseware-upload-tip");
         var _filename = $(".courseware-name");
         $('#courseware-fileupload').fileupload({
             dataType: 'script',
             url: "edit_courseware",
             add: function(e, data){
               types = /(\.|\/)(pdf|txt|doc|docx|ppt|pptx|tar|zip|rar)$/i;
               file = data.files[0];
               if (types.test(file.type) || types.test(file.name))
               {
                 $('#courseware-filesize').html("文件大小： " + "<span class='number'>" + (file.size/(1024*1024)).toFixed(2) + "</span>" + "M");
                 file = data.files[0];
                 data.submit();
               }
               else
               {
                 alert("上传失败：" + file.name + " 文件格式错误，请上传pdf、zip、rar、tar文件");
               }
             },
             start: function(e) {
               _tip.html('上传中&nbsp;&middot;&middot;&middot;');
               _filename.html(file.name + "(" + (file.size/(1024*1024)).toFixed(2) + " M)");
               $('.btn-info').bind('click', false);
             },
             done: function (e, data) {
               _tip.html("文件上传成功！");
             },
         });
       });
    });
