!!!
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    %title PureWeber
  %meta(http-equiv="content-type" content="text/html; charset=gb2312")
  = csrf_meta_tag
  = stylesheet_link_tag 'back'
  = stylesheet_link_tag 'bootstrap_and_overrides'
  = stylesheet_link_tag 'comments'
  %nav.global-nav
    .mark
      %h3 PureWeber
    %ul
      -if current_user
        %li 
          = link_to "退出", logout_path
        %li.dropdown 
          %a(href="#" class="dropdown-toggle" data-toggle="dropdown") kgtong<b class="caret"></b>
          %ul.dropdown-menu
            %li 
              = link_to "个人资料", user_edit_path
            -if current_user.is_admin?
              %li 
                = link_to '我的课程', admin_courses_path(current_user.name)
        %li 
          %a(href="#about")
            %span.message 4
  %body
    = yield :body
    
    %footer.wrap.footer
      .container
        %p.copyright © COPYRIGHT PUREWEBER 2013, WEBSITE BY <a href="http://kgtong.me/">KgTong</a>
    = javascript_include_tag 'application'
    = yield :bootstrap
    = yield :template_js
