!!!
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    %title PureWeber
  %meta(http-equiv="content-type" content="text/html; charset=gb2312")
  = csrf_meta_tag
  %header.hero
    %figure
      =image_tag "/assets/pureweber.png"
      %h2 PureWeber 2013

  %body
    = yield
    
    %footer.wrap.footer
      .container
        %p.copyright © COPYRIGHT PUREWEBER 2013, WEBSITE BY <a href="http://kgtong.me/">KgTong</a>
    = javascript_include_tag "application"
    = stylesheet_link_tag 'main.css'
    = yield :bootstrap
